<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/blogs.css">
</head>
<body>
    <a href="/create" class="create"><i class="fa fa-plus fa-2xl" aria-hidden="true"></i></a>
    <h1>Tech Blogs</h1>
    
    <div class="blogContent">
        <% if (blogs.length > 0) { %>
            <% blogs.forEach((blog)=>{ %>
                <div class="blog">
                    <h2 class = "title" >
                        <a href="/blogs/<%= blog._id %> ">
                            <%= blog.title %>
                        </a>
                    </h2>
                <p class="snippet"><%= blog.snippet %></p>
                </div>
            <% }) %>
        <% }else { %>
            <p>There are no blogs to display</p>
        <% } %>

    </div>
</body>
</html>